<footer class="site-footer">
  <div class="footer-content main-footer-row">
    <div class="footer-section">
      <p class="vidia-copyright">
        © <span id="footerYear"></span> 
        <img src="/assets/icon2.svg" alt="Vidia Tools Icon" class="vidia-icon">
        Vidia Tools LLC
      </p>
    </div>
    <div class="footer-section">
      <p>Designed and coded by <a href="https://federicoarboleda.com/" target="_blank" rel="noopener noreferrer">Federico</a></p>
    </div>
    <div class="footer-section">
      <p>
        Powered by: 
        <a href="https://www.comfy.org/" class="comfy-link" target="_blank" rel="noopener noreferrer">
          <img src="https://storage.googleapis.com/comfy-assets/logo.png" alt="ComfyUI Logo" class="comfy-logo"> ComfyUI
        </a>
      </p>
    </div>
  </div>
  
  <div class="footer-content">
    <div class="footer-section theme-toggle-section">
      <button class="theme-toggle" id="theme-toggle" title="Toggles light & dark" aria-label="auto" aria-live="polite">
        <svg class="sun-and-moon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
          <mask class="moon" id="moon-mask">
            <rect x="0" y="0" width="100%" height="100%" fill="white" />
            <circle cx="24" cy="10" r="6" fill="black" />
          </mask>
          <circle class="sun" cx="12" cy="12" r="6" mask="url(#moon-mask)" fill="currentColor" />
          <g class="sun-beams" stroke="currentColor">
            <line x1="12" y1="1" x2="12" y2="3" />
            <line x1="12" y1="21" x2="12" y2="23" />
            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
            <line x1="1" y1="12" x2="3" y2="12" />
            <line x1="21" y1="12" x2="23" y2="12" />
            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
          </g>
        </svg>
      </button>
    </div>
    <div class="footer-section">
      <a href="https://tpur8yy0um7.typeform.com/to/juEVUhZV" target="_blank" rel="noopener noreferrer"><button class="update-feedback-button">Provide Feedback</button></a>
    </div>
    <div class="footer-section">
      <nav class="footer-nav">
        <a href="/terms-of-service-page.html" target="_blank" rel="noopener noreferrer">Terms</a>
        <span class="nav-separator"></span>
        <a href="/privacy-policy-page.html" target="_blank" rel="noopener noreferrer">Privacy</a>
        <span class="nav-separator"></span>
        <a href="/credits-page.html" target="_blank" rel="noopener noreferrer">Credits</a>
        <span class="nav-separator"></span>
        <a href="https://discord.gg/A29AUr7A6U" target="_blank" rel="noopener noreferrer">Contact</a>
      </nav>
    </div>
  </div>
</footer>
