<header id="top">
  <div class="header-content">
    <div class="logo-container">
      <a href="/" aria-label="Home">
        <img src="/assets/triangles-logo.svg" alt="Vidia Tools Logo" style="height: 28px">
      </a>
      <a href="/changelog.html" class="badge demo-badge" title="View Changelog">Open</a>
    </div>
    <div class="auth-buttons">
      <button id="authButton" class="auth-button sign-up">Sign Up / Sign In</button>
      <button class="auth-button logout" style="display: none;">Logout</button>
    </div>
  </div>
</header>
